<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Checkr</title>
</head>
<body>
	<section class="background-img">
		<div class="background-color">
			<div class="content">
				<header>
					<div class="first-navbar">
						<ul>
							<li>I Am an Applicant</li>
							<li>API & Docs</li>
							<li>About Us</li>
							<li>Careers</li>
						</ul>
					</div>
					<div class="second-navbar">
						<%= image_tag('checkr_logo', class: "checkr-logo")%>
						<div class="nav-left">
							<ul>
								<li>
									<a class="product" href="#">PRODUCT &#9662;</a>
									<ul class="dropdown">
										<li><a href="#">Overview</a></li>
										<li><a href="#">Screenings</a></li>
										<li><a href="#">Compliance</a></li>
										<li><a href="#">Security</a></li>
									</ul>
								</li>
								<li>
									<a class="product" href="#">INDUSTRIES &#9662;</a>
									<ul class="dropdown">
										<li><a href="#">Overview</a></li>
										<li><a href="#">Financial Services</a></li>
										<li><a href="#">Healthcare</a></li>
										<li><a href="#">Staffing</a></li>
										<li><a href="#">Manufacturing</a></li>
										<li><a href="#">Small Business</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</li>
								<li>
									<a class="product" href="#">RESOURCES &#9662;</a>
									<ul class="dropdown">
										<li><a href="#">Overview</a></li>
										<li><a href="#">Guides & White Papers</a></li>
										<li><a href="#">FAQ</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="nav-right">
							<button class="login">LOG IN</button>
							<button class="jaune">GET STARTED -> </button>
						</div>
					</div>
				</header>
				<div class="contenu">
					<div class="main">
						<h1 class="title2">HIRE GREAT PEOPLE.<br>FASTER.</h1>
						<p class="texte">Checkr provides modern and compliant background checks for global enterprises and startups.</p>
						<button class="explore">EXPLORE NOW -> </button>
					</div>
					<div class="video">
						<video id="demo-vid_html5_api" class="vjs-tech" autoplay="" loop="" preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" data-setup="{}">
							<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
								<source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
									<img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" width="606" height="634">
								</video>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</section>
	<section id="multiple-logo">
		<div class="multiple-logo-title">
			<h3 class="more">More Than 10.000 Businesses Trust Checkr for Their Background Screenings</h3>
		</div>
		<div class="les-logos">
			<%= image_tag 'instacart', class: "size_logo" %>
			<%= image_tag 'grubhub', class: "size_logo" %>
			<%= image_tag 'uber', class: "size_logo" %>
			<%= image_tag 'postmates', class: "size_logo" %>
			<%= image_tag 'zenefits', class: "size_logo" %>
			<%= image_tag 'handy', class: "size_logo" %>
		</div>
	</section>
	<section id="background">
		<div class="third-section">
			<div class="title3">
				<h3 class="next">The Next Generation of Background Checks</h3>
			</div>
			<div class="logo-5">
				<div class="logo-3">
					<div class="mobile">
						<%= image_tag 'home-mobile', class: "logo-text" %>
						<br>
						<strong>Mobile-Friendly</strong>
						<p class="mobile-text">Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
					</div>
					<div class="easy">
						<%= image_tag 'home-computer_easy', class: "logo-text" %>
						<br>
						<strong>Easy to Understand</strong>
						<p class="easy-text">Color-coded reports and an intuitive interface makes it possible to review information faster. <span id="green">See a sample employee background report.</span></p>
					</div>
					<div class="automation">
						<%= image_tag 'home-automation', class: "logo-text" %>
						<br>
						<strong>Convenient Automation</strong>
						<p class="automation-text">Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>
					</div>
				</div>
				<div class="logo-2">
					<div class="simplified">
						<%= image_tag 'home-communications', class: "logo-text" %>
						<br>
						<strong>Simplified and Compliant Communication</strong>
						<p class="simplified-text">Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>
					</div>
					<div class="fast">
						<%= image_tag 'home-analytics', class: "logo-text" %>
						<br>
						<strong>Fast and Accurate</strong>
						<p class="fast-text">Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="background-footer">
			<ul id="foot-list">
				<ul class="foot-col">
					<h2 class="titre">PRODUCT</h2>
					<li>Overview</li>
					<li>Screenings</li>
					<li>Compliance</li>
					<li>Security</li>
					<li>API & Docs</li>
				</ul>
				<ul class="foot-col">
					<h2 class="titre">INDUSTRIES</h2>
					<li>Overview</li>
					<li>Financial Services</li>
					<li>Healthcare</li>
					<li>Staffing</li>
					<li>Manufacturing</li>
					<li>Small Business</li>
				</ul>
				<ul class="foot-col">
					<h2 class="titre">RESOURCES</h2>
					<li>Overview</li>
					<li>White Papers</li>
					<li>FAQ</li>
					<li>Engineering Blog</li>
					<li>Applicant Portal</li>
				</ul>
				<ul class="foot-col">
					<h2 class="titre">COMPANY</h2>
					<li>Partners</li>
					<li>Partner Lead Portal</li>
					<li>About Us</li>
					<li>Bounce Back to Work</li>
					<li>Careers</li>
					<li>Press</li>
				</ul>
				<ul class="foot-col">
					<h2 class="titre">CONNECT</h2>
					<li>hello@checkr.com</li>
					<li>Contact Us</li>
					<li>Get Started</li>
					<li>Log In</li>
				</ul>
			</ul>
			<%= image_tag 'napbs', class: "napbs" %>
		</div>
	</footer>
</body>
</html>

